.container {
    align-items: center;
    background-color: #3A86FF;
    border-radius: 1em;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1em 2em 1em 2em;
    user-select: none;
}

.counter {
    font-size: 8em;
    font-weight: bold;
}